body {
  padding: 30px 50px;
}

.contenedor {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

.contenedor img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  width: 90px;
}

.contenedor span {
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
}
